---
const { longList } = Astro.props;
const lots = [...Array(30000).keys()];
---

<h1>
  Vanilla (<span id="counter"></span>)
</h1>

<button id="run" style="margin-bottom: 1em">Run!</button>

<ul id="tokens"></ul>
{
  longList &&
    lots.map((i) => {
      return <div>{i}</div>;
    })
}

<script is:inline>
(function () {
  // if (window.location.href.indexOf("vanilla") < 0) {
  //   return;
  // }

  const text = [];
  const counter = document.getElementById("counter");
  const tokens = document.getElementById("tokens");
  let endAt = Date.now() + 10000;

  let count = 0;
  let timeout = null;

  const token = () => Math.random().toString(36).substring(2, 10);
  const textNodes = [];
  const countText = document.createTextNode("0");
  counter.appendChild(countText);

  document.getElementById("run").addEventListener("click", onRun);

  function onRun() {
    if (timeout) {
      clearTimeout(timeout);
    }
    count = 0;
    endAt = Date.now() + 10000;
    timeout = setTimeout(go, 1);
  }

  function create() {
    const ul = tokens;
    for (let i = 0; i < 500; i++) {
      const li = document.createElement("li");
      text[i] = token();
      textNodes[i] = document.createTextNode(text[i]);
      li.appendChild(textNodes[i]);
      ul.appendChild(li);
    }
  }

  function paint() {
    countText.data = "" + count;
    for (let i = 0; i < 500; i++) {
      textNodes[i].data = text[i];
    }
    requestAnimationFrame(paint);
  }

  function go() {
    count++;
    for (let i = 0; i < 500; i++) {
      text[i] = token();
    }

    if (Date.now() < endAt) {
      timeout = setTimeout(go, 1);
    } else {
      clearTimeout(timeout);
      timeout = null;
    }
  }

  create();
  requestAnimationFrame(paint);
})();
</script>
